<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title n:inner-snippet="title"> Web | Zasadací poriadok</title>

	<link rel="stylesheet" href="{$basePath}/assets/styles/tailwind.css">

</head>

<body class="bg-slate-900" >
<div class=" bg-slate-700" style=" width: 200px; height: 600px; ">
<h2 class="p-5 font-medium text-xl" style="color: white;">Maturitná práca</h2>
<div class=" bg-slate-700 p-5 pt-27 " style=" width: 200px; height: auto;  " >
				<button type="submit" class=" text-left hover:bg-blue-400 font-medium bg-slate-700 block px-4 py-2
				 rounded-md text-slate-300" style=" width: 160px; ">
                Učitelia   
                </button>
				<button type="submit" class=" text-left hover:bg-blue-400 font-medium bg-slate-700 text-slate-300
				 block px-4 py-2 rounded-md" style=" width: 160px; ">
                Žiaci  
                </button>
				<button type="submit" class=" text-left hover:bg-blue-400 font-medium bg-slate-700 text-slate-300
				 block px-4 py-2 rounded-md" style=" width: 160px; ">
                Triedy    
                </button>
				<button type="submit" class=" text-left hover:bg-blue-400 font-medium bg-slate-700 text-slate-300
				 block px-4 py-2 rounded-md" style=" width: 160px; ">
                Rozvh    
                </button>
</div>
</div>
{*<div class="col-md-2">
      	<div class="d-flex flex-column flex-shrink-0 p-3 text-dark bg-dark" style="height: 900px;">
          <h2 style="color: white;">Maturitná práca</h2>
            <h5 style="color: white;">Šimon Trnovec, Peter Šinál</h5>
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              </a>
              <hr>
              <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                <button type="submit" class="bg-slate-700 block px-4 py-2 rounded-md text-slate-300">
                Učitelia   
                </button>
                </li>
                <li class="pb-3">
                <button type="submit" class="bg-slate-700 text-slate-300 block px-4 py-2 rounded-md">
                Žiaci  
                </button>
                </li>
                <li>
                <button type="submit" class="bg-slate-700 text-slate-300 block px-4 py-2 rounded-md">
                Triedy    
                </button>
                </li>
				<li>
                <button type="submit" class="bg-slate-700 text-slate-300 block px-4 py-2 rounded-md">
                Rozvh    
                </button>
				</li>
              </ul>
            <div>
          </div>
    </div>
    </div>*}
{*				<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>*}


				{include content}
				{block scripts}
				<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
				{/block}

</body>
</html>
