php:
    date.timezone: Europe/Bratislava

parameters:
    customRoutes:
        allowedParameters: []


application:
	errorPresenter: Error
	mapping:
		*: App\presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

extensions:
    dibi: Dibi\Bridges\Nette\DibiExtension22


services:
    user: App\Security\User
    cache: Nette\Caching\Cache
    - App\Router\RouterFactory::createRouter
    - App\Security\Authenticator

    # repositories
    - App\Model\Repositories\ClassesRepository
    - App\Model\Repositories\ClassroomsRepository
    - App\Model\Repositories\TimetableRepository
    - App\Model\Repositories\StudentsRepository
    - App\Model\Repositories\SubjectsRepository
    - App\Model\Repositories\TeachersRepository
    - App\Model\Repositories\AdminSectionsRepository
    - App\Model\Repositories\AdminsRepository
    - App\Model\Repositories\CustomersRepository
    - App\Model\Repositories\SectionsRepository
    - App\Model\Repositories\UsersRepository
    - App\Model\Repositories\TimesRepository

#    @TODO usporiadat repozitare podla abecedy

