php:
    date.timezone: Europe/Bratislava

parameters:
    customRoutes:
        allowedParameters: []


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

extensions:
    dibi: Dibi\Bridges\Nette\DibiExtension22


services:
	- App\Router\RouterFactory::createRouter
