php:
    date.timezone: Europe/Bratislava

parameters:
    customRoutes:
        allowedParameters: []


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

extensions:
    dibi: Dibi\Bridges\Nette\DibiExtension22


services:
    user: App\Security\User
    cache: Nette\Caching\Cache
    - App\Router\RouterFactory::createRouter

    # repositories
    - App\Model\Repositories\ClassesRepository
    - App\Model\Repositories\ClassroomsRepository
    - App\Model\Repositories\SeatPlansRepository
    - App\Model\Repositories\StudentsRepository
    - App\Model\Repositories\SubjectsRepository
    - App\Model\Repositories\TeachersRepository
    - App\Model\Repositories\AdminSectionsRepository
    - App\Model\Repositories\AdminsRepository
    - App\Model\Repositories\CustomersRepository
    - App\Model\Repositories\SectionsRepository

#    @TODO usporiadat repozitare podla abecedy

    ca:
        class: App\FrontendModule\CustomerAuthenticator
        autowired: no
    - App\Router\RouterFactory