{extends '..//@backend.latte'}
  
{block content}
{foreach $classrooms as $classroom}
<div class="p-20 grid grid-rows-{$classroom->height} grid-flow-col gap-12 bg-slate-800 rounded-md mx-96 my-40">
  {dump $classroom->height}
  {var $seats = $classroom->height * $classroom->width}
  {for $i = 1; $i <= $seats; $i++}
    <div class=" bg-slate-700 rounded-md">miesto č. {$i}</div>
  {/for}
  {/foreach}


</div>