{extends '..//@backend.latte'}
{var $hideSidebar = TRUE}

{block #body}
    <div>
        <div>
            <img id="logo" width="68" height="42" src="/assets/backend/images/logo" alt="Zasadaci poriadok" title="Zasadaci poriadok"/>
        </div>
    </div>
{/block}