{extends '..//@backend.latte'}

{block content}

<h1>Rozvrh hodín</h1>
<div class="p-40 grid grid-rows-3 grid-flow-col gap-9">
  <div>01</div>
  <div>02</div>
  <div>03</div>
  <div>04</div>
  <div>05</div>
  <div>06</div>
  <div>07</div>
  <div>08</div>
  <div>09</div>
  <div>10</div>
  <div>11</div>
  <div>12</div>

</div>